@model List<LojaVirtual.Models.ProdutoItem>
@{
    ViewData["Title"] = "Carrinho de Compras";

}
    <div class="container">        
        <div class="row">
            <h2 class="title-section">Carrinho de Compras</h2>
            <aside class="col-lg-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Produto</th>
                                    <th scope="col" width="120">Quantidade</th>
                                    <th scope="col" width="120">Preço</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="@item.CaminhoImagem" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="/Produto/Visualizar/@item.Id" class="title text-dark">@item.Nome</a>
                                                    <p class="text-muted small">@item.Descricao</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("AlterarQuantidade", "CarrinhoCompra"))
                                            {
                                                var listaValores = Enumerable.Range(1, 15).ToList();
                                                var listaOptions = new List<SelectListItem>();

                                                foreach(int valor in listaValores)
                                                {
                                                    listaOptions.Add(new SelectListItem()
                                                    {
                                                        Value = valor.ToString(),
                                                        Text = valor.ToString(),
                                                        Selected = item.QuantidadeProdutoCarrinho.ToString().Equals(valor.ToString())
                                                    }); 
                                                }

                                                @Html.Hidden("id", @item.Id);
                                                @Html.DropDownList("quantidade", listaOptions, new { onchange = "this.form.submit();", @class="form-control" });
                                             }                             
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@((item.PrecoVenda * item.QuantidadeProdutoCarrinho).ToString("C"))</var>
                                                <small class="text-muted">@(item.PrecoVenda.ToString("C")) un</small>
                                            </div>
                                        </td>
                                        <td class="text-right d-none d-md-block">
                                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItem" asp-route-id="@item.Id" class="btn btn-light"> Remover</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>                 
                </div>
            </aside>
            <aside class="col-lg-3">               
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                         
                            <dd class="text-right text-dark b"><strong>
                                @Model.Sum(p => p.PrecoVenda * p.QuantidadeProdutoCarrinho)
                                   </strong></dd>
                        </dl>
                        <hr>                       
                    </div>
                </div>
            </aside>
        </div>
    </div>